@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: #7f7f7f;
}

/* Header Area // Navbar */




.header_area {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  background-size: cover;
  z-index: 99;
  top: 0;
  left: 0;
  color: white;
}


.logo {
  line-height: 50px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: white;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 2px;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo a:active,
.logo a:hover {
  color: #f84b67;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 50px;
}

nav ul {
  line-height: 50px;
  list-style: none;
  overflow: hidden;

  color: white;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 24px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav ul li a:hover,
nav ul li a:active {

  color: #f84b67;
}

.menu-icon {
  line-height: 50px;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: white;
  display: none;
}



.main_banner {
  position: relative;
  z-index: 1;
}



.main_banner .banner_inner .overlay {
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-size: contain;

  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.main_banner .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height:800px;
  margin-bottom: 0em;

}


.main_banner .banner_inner .container .row {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: 1fr; */
  justify-content: center;
  align-items: center;
}

.box {
  color: white;
}
.image-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_banner .banner_inner .banner_content h2 {
  color: #fff;
  font-size: 48px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0px;
  font-weight: bold;
}

.main_banner .banner_inner .banner_content {
  color: #fff;
}

.main_banner .banner_inner .banner_content h3 {
  font-size: 2.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
}

.main_banner .banner_inner .banner_content p {
  font-size: 15px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 50px;
}

.main_banner .banner_inner .image-box img {
  max-width: 100%;
  max-height: 250px;
}

/* Research Section Inside Main Banner */

.research_banner {
  text-align: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px black;
}

.main_banner .research_banner .container .area-heading h1{
  margin-top: -1em;
  font-size: 2em;
}

.main_banner .research_banner .container .row {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: space-evenly;
}

.research {
  outline: thick;
  height: 80%;
  width: 90%;
  margin: 1em auto;
  background-color: transparent;
  box-shadow: 20px 20px 50px 0 rgba(30, 58, 111, 0.9),
    -30px -30px 60px 0 rgba(30, 58, 111, .6);
  border-radius: 10px;
  padding: 4px 30px 20px 20px;
}

.research h6 {
  font-size: 1.2em;
  margin: 1em 1em;
}

.research-icon {
  text-align: center;
  padding: 1em 1em;
}

.research-icon img {
  width: 30%;
}

#award_winning {
  display: inline-flex;
}

#award_winning .research-icon img {
  width: 32px;
}

.area-heading h1 img {
  width: 1.1em;
}

.solution-area{
  /* margin-top: 40px; */
}

.solution-heading{
  margin: 1em 0 1em -0.8em;

}

/* Blog Card CSS */
/* ======================== */

.blog-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* margin: 1rem auto; */
  box-shadow: 0 3px 7px -1px rgba(30, 58, 111, .6);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);

}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  -webkit-transition: left .2s;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  -webkit-transition: margin .3s, opacity .3s;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 900px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 60px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
    width: 100%;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}



/* Blog Card CSS End */
/* ==================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.area-padding {
  padding: 80px 0;
}


.area-heading {
  /* margin-bottom: 90px; */
  text-align: center;
  margin-top: 5em;
}

.area-heading h3 {
  font-size: 30px;
  color: #1d1d1d;
  position: relative;
}

.area-heading p {
  font-size: 14px;
  color: #7f7f7f;
}

.area-heading .line:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background: #f84b67;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
}

.area-heading .line:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background: #f84b67;
  left: 50%;
  transform: translateX(-50%);
  top: -14px;
}


/* Media Query For Mobile */

@media(max-width: 786px) {

  .header_area{
    background-color: #000;
  }
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  .logo a {
    text-decoration: none;
    color: white;
  }

  nav{
    background-color: black;
  }

  nav ul {
    max-height: 0px;
    background: #000;

  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 36em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  nav ul li a {
    color: white;
  }

  .menu-icon {
    display: block;
  }

  .main_banner .container .row {
    margin-top: 2em;
  }

  .main_banner .banner_inner .container .row .box{
    margin-top: 0;
  }

}

@media (max-width:990px) and (min-width:786px){

  .logo{
    font-size: 1em;
    margin: 16px 20px;
  }
  .logo a{
  }
  nav ul {
    background: black;
    padding-left: 3em;
    padding-right: 5px;
  }
  nav.black ul {
    background: #000;
  }
  nav ul li{

    padding: 16px;
  }
  nav ul li a{
  }

  .main_banner .banner_inner .container .row .box{
    margin-top: 3em;
  }
}
