@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
  font-family: "Avenir-Next-Bold";
  src: url("../assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "Avenir-Next-DemiBold";
  src: url("../assets/fonts/avenir-next/AvenirNext-DemiBold.ttf");
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
:root,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

button:active {
  outline: none;
  border: none;
}

a:active,
a:hover {
  color: #2E7DF7;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4em;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #7f7f7f;
}

.custom-btn {
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.20);
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600 !important;
  letter-spacing: 2.54px;
  text-align: center;
  height: 50px;
  width: 208px;
}

.small {
  width: 80px;
  height: 40px;
}

.mtop {
  margin-top: 25px;
}

.regular {
  color: #FFFFFF;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.2);
  background-color: #2E7DF7;
}

.light {
  background: #FFFFFF;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.2);
  color: #1A67FA;
}

/* Header Area // Navbar */




.header_area {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  background-size: cover;
  z-index: 99;
  top: 0;
  left: 0;
  color: #5F6368;
}





/* .logo a:active,
.logo a:hover {
  color: #2E7DF7;
} */

nav {
  position: fixed;
  width: 100%;
}

nav .logo {
  display: block;
  position: fixed;
  float: left;
  margin: 26px 46px;
  color: #5F6368;
  font-family: "Avenir-Next-Bold";
  font-size: 23.33px;
  letter-spacing: .24px;
}

nav .logo a span {
  text-decoration: none;
  color: #5F6368;
  font-family: "Avenir-Next-Bold";
}

nav .logo a span font {
  font-family: "Avenir-Next-DemiBold";
}

nav .logo .nav-logo {
  display: inline-block;
  line-height: 50px;
  height: 30px;
  margin-bottom: 5px;
  font-family: "Avenir-Next-Bold";
}

nav ul {
  line-height: 50px;
  list-style: none;
  overflow: hidden;
  color: #5F6368;
  padding: 0;
  text-align: right;
  margin-bottom: 10px;
  padding-right: 40px;
  transition: 1s;
  border-bottom: 1px solid #d8d8d8;
}

nav.black ul {
  background: #fff;
  /* border: none; */

}

nav ul li {
  display: inline-block;
  padding: 16px 24px;
}

nav ul li a {
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  color: inherit;
  letter-spacing: 1.3px;
  text-align: center;
}



.menu-icon {
  line-height: 50px;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: white;
  display: none;
}



.main_banner {
  position: relative;
  z-index: 1;
  margin-top: 96px;
}



.main_banner .banner_inner .overlay {
  /* background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%); */
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-size: contain;
  height: 100%;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.main_banner .banner_inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 650px;
}


.main_banner .banner_inner .container .row {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  align-items: center;
}

/* .box-1 {
  color: #000000;
  width: 500px;
} */

.image-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  height: 400px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


.main_banner .banner_inner .banner_content {
  color: #000;
  text-align: left;
  width: 100%;
  /* height: 307px; */
}

.main_banner .banner_inner .banner_content h2 {
  color: #000000;
  font-size: 48px;
  margin-bottom: 0px;
  font-weight: bold;
}



.main_banner .banner_inner .banner_content h3 {
  font-family: "Exo", sans-serif;
  font-size: 46px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
  color: #000000;
  margin-bottom: 13px;
}

.main_banner .banner_inner .banner_content p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.21px;
  margin-bottom:41px ;
  color: #474a4d;
}


/* Research Section Inside Main Banner */

.research_banner {
  width: 100% !important;
  text-align: center;
  color: black;
  background: #F3F7FF;
  margin-top: 30px;
}

.main_banner .research_banner .container .area-heading h1 {
  font-size: 40px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  margin-top: -50px;
}

.research {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 20px;
  justify-items: center;
  justify-content: space-evenly;
}

.research-icon {
  display: inline-flex;
  flex: 1;
  margin: 2em 2em;
  width: 214px;
  height: 89px;
}

.research-icon h6 {
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  letter-spacing: 0.21px;
  text-align: center;
  margin-top: 20px;
}

.research-icon img {
  width: 46px;
  height: 89px;
}

.solution-area {
  margin-top: 0;
  margin-bottom: 70px;
}

.solution-area .container-fluid .container .row {
 margin: 0;
  text-align: center;
}

.solution-area .container-fluid hr{
  width: 100%;
}

.solution-area .container-fluid .container .row .area-heading h1 {
  font-family: "Exo";
  font-weight: 600;
  font-size: 46px;
  color: #000000;
  letter-spacing: 0.48px;
  text-align: center;
}


.solution-heading {
  font-size: 20px;
  color: #474A4D;
  letter-spacing: 0.21px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-bottom: 54px;
}

.solution-heading h4 {
  font-family: Exo;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.38px;
  color: #000000;
  margin: 28px 0 9px 0;

}


.solution-heading h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.21px;
  color: #474a4d;
}

/* .toolkits .row{
  justify-content: space-around;
} */

/* DataInsight Cards CSS */

/* .toolkits .row {
  font-style: "Open Sans";
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga" on;
  -webkit-font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
} */

.cards {
  margin-left: -20px;
  width: 100%;
  display: -webkit-box;
  display: grid;
  grid-gap: 88px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-between;
}

.card__items {
  width: 352px;

}

.card {
  height: 453px;
  margin-bottom: 24px;
  box-shadow: 0 22px 66px 0 rgba(49, 69, 244, 0.1) !important;
}

.card__title {
  background-color: #e6eeff;
  height: 132px;
  width: 100%;
}

.title__image {
  float: left;
  background: #2E7DF7;
  width: 132px;
  height: 100%;
}

.image-resize {
  display: block;
  margin: 1.5em auto;
  width: 85px;
}

.card__title span {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 30.8px;
  font-stretch: normal;
  font-style: normal;
  display: block;
  float: right;
  margin: 22px 22px 25px 10px;
  padding: 12px 5px;
  text-align: left;
  width: 176px;
  height: 88px;
  line-height: 1.07em;
  letter-spacing: normal;
  color: #11223f;

}

.card__content {
  display: block;
  text-align: left;
  margin: 27px 26px 30px 26px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17.6px;
  color: #11223F;
  line-height: 33px;
}

.card__btn {
  display: block;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
  letter-spacing: 2.54px;
  text-align: center;
  height: 50px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}



.card:hover .card__image {
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
}


.disabled {
  background-color: #BDBFC1;
  color: #fff;
}

.disabled:hover {
  cursor: default;
}

/* === === === === === === === */

/* AI ENGINE SECTION CSS */
/* === === === === === === === */
.flex-container {
  width: 80%;
  max-height: 300px;
  margin: 0 auto;
  /* Safari */
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.25rem;
  /* Standard syntax */
}

.flex-container .column {
  margin: 1rem;
  padding: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  /* Safari */
  flex: 1 1 auto;

}

.flex-container .column.text {
  flex: 2;
  padding: 1rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.engine__section{
  margin-top: 33px;
}
.engine__container {
  display: flex;
  width: 100%;
  height: 252px;
  overflow: hidden;
  box-shadow: 0 10px 22px 0 rgba(49, 69, 244, 0.10);
}

.engine__image__container {
  background: #2E7DF7;
  width: 33.3%;
  float: left;
  align-self: flex-start;
  max-width: 252px;
  height: 252px;
}

.engine__image {
  display: block;
  object-fit: contain;
  margin: 2em auto;
  max-width: 177px;
}

.engine__text__container {
  float: right;
  width: fit-content;
  height: 150px;
}

.engine__title {
  background: #F3F7FF;
  margin-bottom: 0px;
}

.engine__title {
  background: #F3F7FF;
  color: #11223F;
  font-size: 30.8px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  line-height: 33px;
  padding: 23px 60px 23px 40px;

}


.engine__text {
  flex: 1 1 auto;
  font-family: "Open Sans",sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87em;
  letter-spacing: normal;
  color: #11223f;
  padding: 20px 45px 30px 40px !important;
  margin: 0;
}

.engine__btn {
  display: block;
  float: left;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
  letter-spacing: 2.54px;
  text-align: center;
  height: 50px;
  width: 252px;
  max-width: 300px;
  margin-top: 30px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}


#engine {
  background-color: #fff !important;
}

.cl1--image {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  overflow: hidden;
  background-image: url("../assets/img/index/Engine_Icon.svg");
}


.flex-container .btn--block {
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

@media all and (max-width:800px) {
  #engine {
    display: block;
    float: none;
    width: 100%;
  }

}

/* === === === === === === === ===  */
/* Service Section */
/* === === === === === === === === */
.service__section {
  margin-top: 90px;
  height: max-content;
}

.service__section .container-fluid {
  background-color: #F3F7FF;
}

.service__section .container-fluid :last-child {
  height: auto;
}

#service__heading {
  margin-top: 2em;
}

#service__heading h4 {
  display: inline-block;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #000000;
  text-align: center;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}

.service_cards {

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 57px;
  grid-row-gap: 36px;
  justify-items: stretch;
  align-items: stretch;
  margin: 43px 0 70px 0;
}

#service_hr{
  margin-top: 28px;
}


/* .div1 {
  padding: 0;
  margin: 0;
  grid-area: 1 / 1 / 2 / 3;
  max-width: 493px;
  max-height: 321px;
  background-color: #F3F7FF;
} */
.single_card {
  height: 334px;
  box-shadow: 0 22px 66px 0 rgba(150, 150, 150, 0.1);
}

.single_card:nth-child(even) {
  width: 580px;
}

.s__card {
  height: 334px;
  width: 493px;
  max-width: 493px;
  background-color: white;
  padding: 0 !important;
}

.s__card__title {
  background-color: #e6eeff;
  height: 132px;
  width: 100%;
  margin: -10px 0 0 0;

}

.s__title__image {
  float: left;
  background: #2E7DF7;
  width: 132px;
  height: 100%;
}

.s-image-resize {
  display: block;
  margin: 1.2em auto;
  width: 94px;
}

.s__card__title span {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  display: block;
  float: left;
  margin: 1em 10px;
  text-align: left;
  font-size: 30.8px;
  color: #11223F;
  line-height: 40px;
  width: 65%;
}

.s__card__content {
  display: block;
  text-align: left;
  padding: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17.6px;
  color: #11223F;
  line-height: 33px;
  height: 203px !important;
  width: 100%;
  background-color: white;
}
#eudcationModel{
  padding: 1em 2em;
}

.b__card {
  width: 100%;
  height: 321px;
  margin: 0 0;
  background-color: #e6eeff !important;
}

.b__card__title {
  display: block;
  background: #e6eeff;
  min-height: 100px;
  padding: 20px;
  max-height: 100px;
}

.b__title__website {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #11223F;
  display: block;
  padding: 0 1em;
  line-height: 33px;
  text-transform: uppercase;
  background-color: #e6eeff;
}

.blog__title{
  font-family: "Open Sans",sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #11223F;
  display: block;
  padding: 0;
  margin: 1em 0;
  line-height: 33px;
  background-color: #e6eeff;
}

.b__card__thumbnail {
  max-width: 100%;
  max-height: 224px;
}

.b-image-resize {
  display: block;
  margin: 0 auto;
  height: 232px;
  width: 580px;

}


/* .div2 {
  grid-area: 1 / 3 / 2 / 6;
}

.div3 {
  grid-area: 2 / 1 / 3 / 3;
  max-width: 493px;
  max-height: 321px;
}

.div4 {
  grid-area: 2 / 3 / 3 / 6;
} */

@media (max-width:440px) {
  .image-box img{
    height: 280px;
  }
  .service_cards {
    display: block;
  }
  .single_card{
    box-shadow: 0 22px 66px 0 rgba(150, 150, 150, 0.1);
    margin-bottom: 50px;
  }
  .single_card:nth-child(odd){
    max-width: 400px !important;


  }
  .single_card:nth-child(even){
    max-width: 400px !important;
    width: 100%;
  }

  .single_card:nth-of-type(3){
    margin-top: 80px;
  }
  .s__card {
    max-width: 350px;
    width: 300px;
    margin-top: 80px;
  }
  .s__card__title {
    max-width: 350px;
    height: 100px;
  background-color: #e6eeff;
  }
  .s__title__image {
    max-width: 60px;
    height: 100px;
  }
  .s__card__title span {
    width: 80%;

    line-height: 30px;
    font-size: 16px;
  }
  .s-image-resize{
    max-width: 50px;
    width: 50px;
  }
  .s__card:first-of-type{
    margin-top: 0;
  }

  .s__card__title span {
    font-size: 22px;
    padding-left: 10px;
    margin: 1em auto;
  }
  .s__card__content{
    width: 350px;
    height: 250px !important;

  }
  .b__card {
    margin-top: 80px !important;
    max-width: 350px;
    width: 350px;
    max-height: fit-content;

  }
  .b-image-resize{
    max-width:350px;
    width: 350px;
  }


  .engine__container{
    display: block;
    height: auto;
  }

  .engine__section{
    margin-left: 10px;
  }


  .engine__image__container{
    display: block;
    float: none;
    max-width: 100%;
    width: 350px;
    justify-content: center;
    align-items: center;
  }
  .engine__text__container{
    height: fit-content;
  }

  .engine__image{
    justify-content: center;
    object-fit: fill;
    max-width: 250px;
  }

  .engine__btn{
    display: none;
    width: 350px !important;
    max-width: 400px;
  }

}


/* === === === === === === === */

/* Pricing CSS */
/* === === === === === === === */


.pricing__section {
  margin-top: 2em;
}


.pricing__section .container-fluid {
  background-color: white;
}

.pricing__section .container-fluid .container .row {
  margin: auto;
  text-align: center;
}
.pricing__section .container-fluid .container .row:nth-of-type(2){
  margin-top: 54px;
}

#pricing__heading {
  margin: 2em 0;
}

#pricing__heading h4 {
  display: inline-block;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: #000000;
  letter-spacing: 0.48px;
}

.prices {
  margin-left: -30px;
  width: 100%;
  display: -webkit-box;
  display: grid;
  grid-gap: 88px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-evenly;
}


.price__items {
  width: 352px;
  padding: 10px;
}



.price {
  width: 352px !important;
  height: 400px;
  box-shadow: 0 22px 66px 0 rgba(49, 69, 244, 0.1);
  background-color: #ffffff;
  /* height: 360px;
  margin-bottom: 1em; */
}

.price__title {
  width: 352px;
  height: 132px;
  background-color: #f3f7ff;
  padding: 19px 22px 25px 22px;
}

.title_center {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  display: block;
  padding: 31px 10px;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  letter-spacing: normal;
  font-size: 29px;
  color: #11223F;
  line-height: 1.07em;
  width: 308px;
  height: 88px;
}

#ai {
  /* height: fit-content; */
  padding: 5px;
}

#ds {
  /* height: fit-content; */
  padding: 10px;
}

#di {
  padding: 20px;
}

.price__content {
  display: block;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17.6px;
  height: 228px;
  color: #11223F;
  line-height: 33px;
  margin: 0;
  padding: 0;
}

.price__content .price_details{
  margin: 18px 26px 24px 26px;
  height: 132px;
}
.price_tag {
  font-family: "Exo", sans-serif;
  font-weight: 600;
  font-size: 30.8px;
  line-height: 33px;
  text-align: center;
}

.price__btn {
  display: block;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  font-size: 16px;
  letter-spacing: 2.54px;
  text-align: center;
  height: 50px;
  width: 352px;
  margin-top: 24px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

/* === === === === === === === */

/* Get In Touch Section CSS */

/* === === === === === === === */

.contact_section {
  margin-top: 100px;
  background-color: #2E7DF7;
  min-height: 200px;
  max-height: 357px;
  color: white;
}

.contact_section .container .row {
  max-height: 600px;
}

#contact__heading {
  margin: 0 0;
}

#contact__heading h4 {
  margin-top: 1em;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  height: 61px;
  font-size: 46px;
  color: #FFFFFF;
  letter-spacing: 0.48px;
  text-align: center;
  margin-top: 114px;
  margin-bottom: 36px;
}


.contact__btn {
  background: #FFFFFF;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 208px;
  height: 50px;
  color: #1A67FA;
  letter-spacing: 2.54px;
  text-align: center;
  display: block;
  margin-bottom: 96px;
}

@media (max-width:440px){
  #contact__heading h4{
    margin-top: 80px;
    margin-bottom: 96px;
  }
  .contact__btn {
    margin-top: 36px;
  }

}
/* === === === === === === === */
/* === === === === === === === */



/* === === === === === === === */
/* Footer CSS */
/* === === === === === === === */

.footer-area {
  display: flex;
  padding:70px 0 50px 0;
  background: white;
  color: #000000;
}

.footer-area .container .row {
  width: 100%;
  margin: 0;
  padding: 0;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px; */
}

.footer_logo {
  max-width: 66px;
}

#footer-logo {
  margin-right: 400px;
}

#footLinks {
  margin: 0;
  padding: 0;
}

#newsletter {
  margin-left: 114px;
}

/* .parent {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  }

  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 3 / 2 / 4; }
  .div3 { grid-area: 1 / 4 / 2 / 6; } */

@media (max-width: 991px) {
  .footer-area {
    padding: 60px 0px;
  }

  #footer-logo {
    margin-right: 0;
  }

  #newsletter {
    display: block;
    margin-left: 0;
  }

  #footLinks {
    margin-left: 16px !important;
  }
}

@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    margin-bottom: 30px;
  }

  #footLinks {
    margin: 16px 0 0 0;
  }
}

.footer-area .single-footer-widget p {
  color: #7b838a;
}

.footer-area .single-footer-widget h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #000;
}

@media (max-width: 1024px) {
  .footer-area .single-footer-widget h4 {
    font-size: 20px;
    color: #000;
  }

  .footer-area .single-footer-widget ul li {
    list-style: none;
  }
}

@media (max-width: 991px) {
  .footer-area .single-footer-widget h4 {
    margin-bottom: 15px;
  }
}



.footer-area .single-footer-widget ul li {
  margin-bottom: 16px;
  list-style: none;
}

#email-form {
  width: auto;
}

.footer-area .single-footer-widget ul li a {
  transition: all 300ms linear 0s;
  color: #888888;
}

.footer-area .single-footer-widget ul li a:hover {
  color: #f84b67;
}

.footer-area .single-footer-widget .form-wrap {
  margin-top: 25px;
}

.footer-area .single-footer-widget .form-wrap .info {
  color: #f84b67;
}

.footer-area .single-footer-widget input {
  height: 40px;
  border: 1px solid #eeeeee;
  width: auto;
  font-weight: 400;
  background: #fff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 22px;
  border-radius: 25px;
  color: #888888;
  margin-right: -25px;
  background-color: #F3F7FF;
}

.footer-area .single-footer-widget input:focus {
  outline: none;
  box-shadow: none;
}



.footer-area .single-footer-widget input.placeholder {
  font-size: 14px;
  padding-left: 10px;
  color: #888888;
}

.footer-area .single-footer-widget input:-moz-placeholder {
  font-size: 14px;
  padding-left: 10px;
  color: #888888;
}

.footer-area .single-footer-widget input::-moz-placeholder {
  font-size: 14px;
  padding-left: 10px;
  color: #888888;
}

.footer-area .single-footer-widget input::-webkit-input-placeholder {
  font-size: 14px;
  padding-left: 10px;
  color: #888888;
}

.footer-area .single-footer-widget .click-btn {
  border-radius: 24px;
  padding: 6px 21px 4px 14px;
  border: 0;
  background: #f84b67;
  color: #fff;
  position: relative;
  left: 0;
  text-transform: capitalize;
  z-index: 999;
}

.footer-area .single-footer-widget .click-btn i,
.footer-area .single-footer-widget .click-btn span {
  font-size: 18px;
}

.footer-area .single-footer-widget .click-btn:focus {
  outline: none;
  box-shadow: none;
}

.footer-area .footer-address span {
  display: block;
  margin-bottom: 15px;
}

.footer-area .footer-logo {
  margin-top: 28px;
  display: inline-block;
}

.footer-area .footer-bottom {
  border-top: 1px solid #4c4f60;
  margin-top: 51px;
  padding: 20px 0;
}

@media (max-width: 991px) {
  .footer-area .footer-bottom {
    margin-top: 20px;
  }
}

.footer-area .footer-bottom p {
  color: #777777;
}

.footer-area .footer-bottom p a {
  color: #f84b67;
}

.footer-area .footer-bottom .footer-social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-area .footer-bottom .footer-social {
    text-align: left;
    margin-top: 30px;
  }
}

.footer-area .footer-bottom .footer-social a {
  margin-left: 3px;
  width: 32px;
  color: #8f919c;
  display: inline-grid;
  text-align: center;
  height: 32px;
  align-content: center;
  transition: all 300ms linear 0s;
}

.footer-area .footer-bottom .footer-social a:hover {
  color: #f84b67;
}

.footer-area .footer-bottom .footer-social a i,
.footer-area .footer-bottom .footer-social a span {
  font-size: 14px;
}

@media (max-width: 991px) {
  .header_area .navbar-collapse {
    padding: 15px 0px;
  }
}

@media (max-width: 767px) {
  .home_banner_area .banner_inner .banner_content span::after {
    display: none;
  }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 33px;
  }

  .home_banner_area .banner_inner .banner_content h3 br {
    display: none;
  }

  .home_banner_area .banner_inner .banner_content .main_btn {
    margin-top: 14px;
  }

  .home_banner_area .banner_inner .banner_content span {
    font-size: 15px;
    margin-bottom: 6px;
  }

  .footer-area {
    padding-top: 70px;
  }

  .footer-bottom {
    margin-top: 35px;
  }
}

/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */

/* === === === === === === === */
/* === === === === === === === */


/* === === === === === === === */

/* Blog Card CSS */
/* === === === === === === === */

.blog-card {
  display: flex;
  flex-direction: column;
  /* margin: 1rem auto; */
  box-shadow: 0 3px 7px -1px rgba(30, 58, 111, .6);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card a {
  color: inherit;
}

.blog-card a:hover {
  color: #5ad67d;
}

.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);

}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  transition: transform .2s;
}

.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}

.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}

.blog-card .details a {
  -webkit-text-decoration: dotted underline;
  text-decoration: dotted underline;
}

.blog-card .details ul li {
  display: inline-block;
}

.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}

.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}

.blog-card .details .tags li {
  margin-right: 2px;
}

.blog-card .details .tags li:first-child {
  margin-left: -4px;
}

.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}

.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

.blog-card .description .read-more {
  text-align: right;
}

.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}

.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}

.blog-card p:first-of-type {
  margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card:hover .details {
  left: 0%;
}

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 900px;
  }

  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }

  .blog-card .description {
    flex-basis: 60%;
  }

  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 60px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .blog-card.alt {
    flex-direction: row-reverse;
    width: 100%;
  }

  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }

  .blog-card.alt .details {
    padding-left: 25px;
  }
}



/* Blog Card CSS End */
/* ==================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  border: 0;
  clear: both;
  display: block;
  min-width: 100%;
  background-color: #DDDDDD;
  height: 1px;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.area-padding {
  padding: 80px 0;
}


.area-heading {
  /* margin-bottom: 90px; */
  text-align: center;
  margin-top: 5em;
}


.area-heading h3 {
  font-size: 30px;
  color: #1d1d1d;
  position: relative;
}

.area-heading p {
  font-size: 14px;
  color: #7f7f7f;
}

.area-heading .line:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 5px;
  background: #f84b67;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
}

.area-heading .line:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  background: #f84b67;
  left: 50%;
  transform: translateX(-50%);
  top: -14px;
}


/* Media Query For Mobile */

@media(max-width: 786px) {

  .header_area {
    /* background-color: #000; */
    line-height: 16px;
  }

  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav .logo a span {
    text-decoration: none;
    color: #fff;
  }


  nav {
    margin: auto;
    background-color: black;
  }

  nav ul {
    max-height: 0px;
    background: #000;
    border: none;
  }

  nav.black ul {
    background: black;
    /* border: none; */
  }

  .showing {
    max-height: 36em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  nav ul li a {
    color: white;
  }

  .menu-icon {
    display: block;
  }

  .main_banner .container .row {
    margin-top: 2em;
  }

  .main_banner .banner_inner .container .row .box {
    margin-top: 0;
  }

}

@media (max-width:990px) and (min-width:786px) {

  .logo {
    font-size: 1em;
    float: left;
    margin: 26px 20px;
  }

  nav ul {
    /* background: black; */
    padding-left: 3em;
    padding-right: 5px;
  }

  nav.black ul {
    background: #fff;
    /* border: none; */
  }

  nav ul li {

    padding: 16px;
  }


  .main_banner .banner_inner .container .row .box {
    margin-top: 3em;
  }
}
